<nav>
  <div class="container">
    <a class="logo" href="http://{{@koa.domain}}">Skrci.me</a>
    <ul>
      {{#if @koa.user}}
      <li>{{@koa.user.email}}</li>
      <li><a href="http://moj.{{@koa.domain}}/zgodovina">Zgodovina</a></li>
      <li><a href="http://moj.{{@koa.domain}}/odjava">Odjava</a></li>
      {{else}}
      <li><a href="http://moj.{{@koa.domain}}/prijava">Prijava</a></li>
      <li><a href="http://moj.{{@koa.domain}}/registracija">Registracija</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
